#container {
    margin: 0;
    width: 960px;
    height: 80vh;
    border: solid rgb(128, 0, 70);
    outline: solid gray;
    /* display: grid; 
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);  */
    padding: 5px;
}

/* The grid below is the layover that makes  grid lines visible. */
.gridCell {
    border: 1px dotted black;
    z-index: 999;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div {
    margin: 10px;
    padding: 20px;
}

#clear {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}