#container {
    margin: 0;
    width: 960px;
    height: 80vh;
    border: solid ;
    outline: solid;
    /* padding: 5px; */
}

#header {
    display: flex;
    flex-direction: column;
}

#header button {
    margin: 5px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}
/* The grid below is the layover that makes  grid lines visible. */
.gridCell {
    border: 1px dotted black;
    z-index: 999;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 0px 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div {
    margin: 10px;
    padding: 20px;
}

